<div class="content">
  <h2>
    WebSocket Testing
  </h2>

  <div class="input-data">
    <div class="form-group">
      <label for="inputJwt">Token JWT for authentication</label>
      <input #jwt type="text" class="form-control" id="inputJwt" placeholder="Enter token">
      <small id="jwtHelp" class="form-text text-muted">Insert jwt to simulate a valid session</small>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-warning" (click)="getTicket(jwt.value)">Get Ticket</button>
      <code id="inputTicket">{{ticket}}</code>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" id="btn-connect" (click)="connect()" [disabled]="connectBtnDisabled">Connect to WS</button>
      <code id="statusWs">{{wsStatus}}</code>
    </div>

    <div class="form-group row">
      <h4>Trip request</h4>

      <label for="sourceId" class="col-md-2 col-form-label">Source id</label>
      <div class="col-md-2">
        <input #sourceId type="number" class="form-control" id="sourceId" value="500">
      </div>

      <label for="destinationId" class="offset-md-1 col-md-2 col-form-label">Dest. id</label>
      <div class="col-md-2">
        <input #destinationId type="number" class="form-control" id="destinationId" value="30">
      </div>

      <div class="offset-md-1 col-md-2">
        <button type="button" class="btn btn-info" id="btn-send" (click)="send(sourceId.value, destinationId.value)" [disabled]="sendTripBtnDisabled">Send</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <td colspan="3"> Trip Requests </td>
          </tr>
          <tr>
            <th scope="col"> SourceId </th>
            <th scope="col"> DestinationId </th>
            <th scope="col"> Status </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tripRequests">
            <td>
              {{t.osmidSource}}
            </td>
            <td>
              {{t.osmidDestination}}
            </td>
            <td>
              {{t.status}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead>
        <tr>
          <td colspan="3"> Confirmed Trips </td>
        </tr>
        <tr>
          <th scope="col"> TripId </th>
          <th scope="col"> VehicleId </th>
          <th scope="col"> PickUpNodeId </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of confirmedTrips">
          <td>
            {{t.tripId}}
          </td>
          <td>
            {{t.vehicleId}}
          </td>
          <td>
            {{t.pickUpNodeId}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
