.vehicle-info {
  .moving {
    position: absolute;
    right: 15px;
    img {
      width: 48px;
    }
  }
  .sub-title {
    font-weight: 500;
  }

  .actions {

    margin-top: 5px;

    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 8px 13px;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: #1976d2;
    }
  }


}
