<google-map
  [options]="mapOptions"
  height="100vh"
  width="100%">

  <map-marker
    *ngFor="let marker of stationsMarkers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options">
  </map-marker>

  <map-marker
    #markerElem="mapMarker"
    *ngFor="let marker of vehiclesMarkers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)">
  </map-marker>

  <map-info-window>
    <div *ngIf="infoVehicle" class="vehicle-info">
      <div *ngIf="infoVehicle.moving" class="moving">
        <img src="assets/icons/road.png" alt="moving"/>
      </div>
      <h6>Vehicle {{ infoVehicle.licensePlate }}</h6>
      Total seats: {{ infoVehicle.totalAvailableSeats }}<br>
      Occupied seats: {{ infoVehicle.occupiedSeats }}<br>
      Waiting time {{ infoVehicle.initialWaitingDate | date: 'dd-MM-yyyy HH:mm' }}<br>
      <br>
      <b class="sub-title">Parameters</b><br>
      Occupancy target: {{ infoVehicle.occupancyTarget }} seats<br>
      Inertial time target: {{ infoVehicle.inertialTimeTarget }} minutes<br>
      Waiting time target: {{ infoVehicle.waitingTimeTarget }} minutes
      <div class="actions">
        <button class="btn" (click)="openManualDisplacementView()" title="Manual displacement"><i class="fa fa-arrows-alt"></i></button>
        <button class="btn" (click)="openParamsConfigurationView()" title="Params configuration"><i class="fa fa-cogs"></i></button>
        <button class="btn" (click)="openRemoveVehicleView()" title="Remove vehicle"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </map-info-window>
</google-map>

<app-login (loggedIn)="onLoggedIn($event)"></app-login>

<app-configuration
  [openView]="paramsConfigurationView"
  [vehicle]="infoVehicle"
  (saved)="refreshVehicles()"></app-configuration>

<app-remove-vehicle
  [openView]="removeVehicleView"
  [vehicle]="infoVehicle"
  (saved)="refreshVehicles()"></app-remove-vehicle>

<app-insert-vehicle
  [openView]="insertVehicleView"
  (saved)="refreshVehicles()"></app-insert-vehicle>

<div class="add-vehicle">
  <a href="#" class="float" (click)="openInsertVehicleView()">
    <i class="fa fa-plus add"></i>
  </a>
  <div class="label-container">
    <div class="label-text">Insert Vehicle</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
</div>
